[Unit]
Description=Prometheus SNMP Exporter
Wants=basic.target
After=basic.target network.target

[Service]
User=pi
Group=pi
ExecStart=/usr/bin/python /usr/local/bin/snmp-prometheus-exporter.py --config_file /etc/snmp-prometheus-exporter.yml

ExecReload=/bin/kill -HUP $MAINPID
KillMode=process
Restart=always

[Install]
WantedBy=multi-user.target
